body{
    padding: 2% 3%;
}
p
{
    font-size: 2.2em;
    color: rgb(28, 28, 139);
    font-weight: bold;
}
.heading p
{
    color:rgb(66, 66, 233);
    font-size: 1.7em;
    text-align: center;
}
#completed
{
    color:#349034;
    font-size: 1.2em;
}
#pending
{
    color: #ff5400;
    font-size: 1.2em;
}
.mb-li
{
    margin-bottom: 10px;
}
#txtInput
{
    background: #e0dddd;
    border: 1px solid #e0dddd;
    height: 5vh;
    width: 40%;
    padding-left: 1%;
}
#btnAdd
{
    height: 5.5vh;
    width: 12%;
    background: #41dc41;
    border: 1px;
    color: white;
    font-size: 1em;
    font-weight: bold;
}
.checkbox
{
    transform: scale(1.5);
}
#pendingList .checkbox, #pendingList label,#pendingList input[type=text] ,#pendingList .btnEdit, #pendingList .btnDel, #CompletedList .checkbox, #CompletedList label,#CompletedList input[type=text] ,#CompletedList .btnEdit, #CompletedList .btnDel
{
    margin-left: 2%;
}
.btnEdit, .btnDel
{
    height: 5vh;
    width: 10%;
    font-size: 1em;
    border: 1px;
    color: white;
}
#pendingList .btnEdit, #pendingList .btnDel
{
    background: #ff7b3b;
}
#CompletedList .btnEdit, #CompletedList .btnDel
{
    background: #349034;
}
#pendingList input[type=text],#CompletedList input[type=text]
{
    background: #cccccc;
    border: 1px;
    height: 4.5vh;
}
#div1, #div2
{
    border:1px solid;
    margin-top:2%;
}
